body,
html {
  font-family: $font-family;
  height: 100%;
}

#__layout,
#__nuxt {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-inner {
  flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.base-link {
  background: $red;
  padding: 18px 42px;
  color: $white;
  border-radius: 40px;
  text-decoration: none;
  font-size: 22px;
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  transition: box-shadow 200ms linear;

  &:hover {
    box-shadow: 0 0 31px -4px rgba(184, 27, 27, 0.71);

    svg {
      transform: translateX(4px);
    }
  }

  svg {
    transition: transform 200ms linear;
    margin-left: 20px;
  }
}

.wrapper {
  padding-top: 55px;
}

.playground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 300px;
}

.page-title_large {
  font-size: 50px;
  line-height: 66px;
}

.page-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 56px;
}

.page-content {
  font-size: 18px;
  line-height: 30px;
}

footer {
  background: #dedede;
  padding: 45px 0;
  flex: 0 0 auto;
  margin-top: 40px;
}

header {
  background: $red;
  position: sticky;
  top: 0;
  color: $white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 45%);

  .header-home__link {
    color: $white;
  }
}

.cart-count {
  margin-left: 8px;
  display: inline-block;
}

nav {
  display: flex;

  .header-nav__item {
    display: inline-flex;
    align-items: center;

    &:not(.header-nav__item-active) {
      color: $white;

      &:hover {
        background: rgba(255, 255, 255, 0.13);
      }
    }

    &.header-nav__item-active {
      background: rgba(0, 0, 0, 0.13);
      color: $white;

      &:hover {
        background: rgba(0, 0, 0, 0.25);
      }
    }

    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: background 150ms linear;

    &:not(&:last-child) {
      margin-right: 20px;
    }

  }
}
